.addBtn {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

body {
    width: 100%;
    background-image: url(../img/background-with-numbers.jpg);
}

.modal {
    height: 15rem;
    overflow: hidden;
}

.resultModal {
    position: relative;
    background-color: aliceblue;
}

.resultModa {
    position: absolute;
    background-color: aliceblue;
}

@media screen and (min-device-width : 280px) {
    main {
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.95);
    }
}

@media screen and (min-width: 720px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 50rem;
        background-color: white;
        margin-top: 50px;
        border-radius: 10px;
        height: 100%;
    }
}
